<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>Consultoria de desenvolvimento Web</span>
      <h1>A consultoria que você busca para o seu negócio.</h1>
    </div>
    <img ngSrc="assets/primary-image.png" alt="primary image" width="1000" height="1000"/>
  </section>

  <section class="benefits-section">
    <div class="benefit-data">
      <h2>95%<br>das empresas</h2>
    </div>
    <p>não sabem como lidar com problemas de <strong>escalabilidade</strong> e grande volume de requisições</p>
  </section>
</main>
